/* Screen Size from 1200px down*/

@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #left-about,
    #right-about {
        width: 100%;
    }

    .right-about-heading {
        border-right: 1px solid #ccc;
        padding-right: 5px;
    }

    .right-about-heading>h2 {
        text-align: right;
    }

    .left-about-heading {
        border-left: 1px solid #ccc;
        padding-left: 5px;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
    }

    hr {
        display: none;
    }

    #times > div{
        width: 100%;
        clear: both;
        height: 200px;
    }
}

/* Screen Size from 950px down*/

@media screen and (max-width: 950px) {
    header {
        text-align: center;
    }

    #logo {
        display: block;
        text-align: center;
        float: none;
        margin-left: 0;
    }

    #menu {
        display: inline-block;
        float: none;
    }

    #hero-image {
        width: 100%;
    }

    #cover-text {
        left: 0;
    }

    #club-ethos {
        width: 90%;
        height: 1100px;
        margin: 0 auto;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;
    }

    #gallery {
        column-count: 3;
    }
}

/*/* Screen Size from 1200px down*/

@media screen and (max-width: 800px) {
    #logo {
        font-size: 200%;
    }

    #welcome {
        font-size: 200%;
    }

    #club-ethos {
        height: 1150px;
    }

    #center-about {
        margin-top: 30px;
    }

    #circle-container {
        padding: 0;
    }

    @keyframes ethos {
        from {
            transform: scale(1);
        }
    
        to {
            transform: scale(0.9);
        }
    }

    #gallery {
        column-count: 2;
    }
}