/* Font-families*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*General Styling*/

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    margin: 0;
}

/* Headingds and logo*/

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style: none;
    padding: 0 15px 0 15px
}

#menu a {
    color: inherit;
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero image and cover text*/

#hero-outer {
    width: 100%;
    overflow: hidden;
    /* keep content in its container when zooming, alternative to clear:both*/
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

#hero-image {
    height: 600px;
    width: 100vw;
    background: url(../images/hero-image.webp) no-repeat center center;

    /*calling and setting the animation*/
    animation-name: hero-zooming;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    /*ends up in forward or the one selected, last keyframe*/
}

/* Hero Animation*/

@keyframes hero-zooming {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgb(241, 109, 107, .7);
    bottom: 30px;
    /* need to be specified to go to the bottom*/
    right: 150px;
    /* need to be specified to go to the right*/
    position: absolute;
    /*allow absolute changes*/
}

/* Ethos section*/

#club-ethos {
    height: 600px;
    text-align: center;
}

#welcome {
    margin: 20px 0;
    font-size: 280%;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    display: inline-block;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin-bottom: 5px;
}

.about-heading {
    width: 60%;
    line-height: 20px;
    margin-bottom: 50px;
    clear: both;
}


.left-about-heading {
    float: right;
}

.left-about-heading h2 {
    text-align: left;
    margin-bottom: 5px;
}

.left-about-heading p {
    text-align: left;
}

.right-about-heading {
    float: left;
}

.right-about-heading h2 {
    text-align: right;
    margin-bottom: 5px;
}

.right-about-heading p {
    text-align: right;
}

#circle-container {
    border: 1px solid #ccc;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: 0 auto;
    /*Inline-block is possible too*/
    padding: 30px;
}

#circle-cover-bg {
    background: url(../images/ethos-center-image.jpg) no-repeat center center;
    height: 100%;
    margin: 0 auto;
    border-radius: 50%;
    animation-name: ethos;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes ethos {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.15);
    }
}

/* Activities section*/

#times {
    background: url(../images/dublin-city.webp) no-repeat center center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

#times div {
    color: #fafafa;
    background-color: rgb(0, 0, 0, .6);
    height: 300px;
    width: 20%;
    float: left;
    /* Convert them all to inline-blocks by default and push them to the left horizontally*/
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    /* Include all values into the total width of the element*/
    transition: 0.3s;
}

#times div:hover {
    background-color: rgb(0, 0, 0, .8);
    transition: 0.3s;
}

#times h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

#times>div>i {
    color: white;
    transition: 0.3s;
}


/*Social Media Footer*/

.media-footer {
    background-color: #3a3a3a;
    text-align: center;
    padding: 30px 0;
    height: 75px;
    line-height: 2.5;
}

.media-footer li {
    display: inline-block;
    font-size: 2rem;
    padding: 0 1rem 0 1rem;
}

.media-footer i {
    color: #fefefe;
    transition: 0.3s;
}

i:hover {
    color: rgb(241, 109, 107, .8);
    transition: 0.3s;
}

/* Gallery page*/

#gallery {
    clear: both;
    /* clear overlapping to other elements*/
    line-height: 0;
    /*remove horizontal margin*/
    column-count: 4;
    column-gap: 0;
    /*remove vertical margin*/
}

#gallery > h2 {
    padding: 30px;
}
#gallery>img {
    width: 100%;
}

#gallery>img:hover {
    opacity: 0.8;
}